/* regoli generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}
/* regole header */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* debug */
    background-color: rgb(106, 213, 255);
    
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    /* debug */
    width: 70%;
    background-color: rgb(106, 213, 255);
    
}
.header{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20%;
    padding: 10px;
    /* debug */
    height: 57px;
    border: 3px Dashed black;
    background-color: rgb(245, 148, 4);
    
}
.header2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60%;
    /* debug */
    height: 57px;
    border: 3px Dashed black;
    background-color: rgb(245, 148, 4);
    
}
a{
    color: black;
    text-decoration: none;
}
.login{
    display: flex;
    align-content: center;
    justify-content: end;
    align-items: center;
}
.sfondo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    /* debug */ 
    height: 500px;
    background-color: rgb(9, 5, 247);
    
}
.blu{
    height: 400px;
    flex-basis: 50%;
    /* debug */
    background-color: pink;
    border: 3px Dashed black;
}

/* regole main */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* debug */
    height: 600px;

}
.white{
    /* debug */
    background-color: white;
}
.gray{
    /* debug */
    background-color: rgb(214, 214, 214);
}
.green{
    /* debug */
    height: 1000px;
    background-color: rgb(214, 214, 214);
}

/* prima section */
.box1{
    width: 40%;
    /* debug */
    height: 400px; 
    background-color: rgb(0, 183, 255);
    border: 3px Dashed black;
}

.box11{
    width: 30%;
    /* debug */
    height: 400px;
    background-color: rgb(255, 203, 211);
    border: 3px Dashed black;
}

/* seconda section */
.box2{
    width: 30%;
    /* debug */
    height: 400px;
    background-color: pink;
    border: 3px Dashed black;
}

.box22{
    width: 40%;
    /* debug */
    height: 400px;
    background-color: rgb(0, 183, 255);
    border: 3px Dashed black;
}

/* terza section */
.box3{
    width: 40%;
    /* debug */
    height: 400px;
    background-color: rgb(0, 183, 255);
    border: 3px Dashed black;
}
.box33{
    width: 30%;
    /* debug */
    height: 400px;
    background-color: rgb(255, 203, 211);
    border: 3px Dashed black;
}

/* quarta section */
.box4{
    height: 800px;
    width: 70%;
    /* debug */
    background-color: rgb(42, 148, 0);
    border: 3px Dashed black;

}

/* regole footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* debug */
    height: 600px;
    background-color: rgb(44, 44, 44);
}

.box5{
    width: 22%;
    margin-bottom: 20px;
    /* debug */
    height: 530px; 
    background-color: rgb(240, 163, 255);
    border: 3px Dashed black;
}
.box55{
    width: 12%;
    margin-bottom: 20px;
    /* debug */
    height: 530px; 
    background-color: rgb(0, 183, 255);
    border: 3px Dashed white;
}
/* footer seconda section */
.footer2{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    /* debug */
    height: 100px;
    background-color: rgb(44, 44, 44);
}
.footer22{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    /* debug */
    height: 80px;
    background-color: rgb(2, 255, 234);
}
.button{
    padding: 5px;
    font-size: 20px;
    /* debug */
    border: 3px Dashed black;
    background-color: rgb(255, 180, 233);
}